@import 'scss/variables';
@import 'scss/utils';

// @file
// Title

.c-title {
  color: $grey;

  @include bp-desktop {
    margin-left: $spacing-3;
  }

  @include bp-desktop-lg {
    margin-left: $spacing-9;
  }
}

.c-title__title {
  font-family: $base-font-family;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
}