@import '../../../scss/variables';
@import '../../../scss/utils';

// @file
// Split

.l-split {
  align-items: center;
  display: flex;
  min-height: 100vh;
  padding: $spacing-6 $spacing-3;
  width: 100%;

  @include bp-tablet {
    flex-direction: column;
    justify-content: center;
  }

  @include bp-desktop {
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    padding: $spacing-6;
  }

  @include bp-desktop-lg {
    padding: $spacing-9;
  }
}

.l-split__inner {
  padding: 0;

  @include bp-tablet-lg {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}