@import '../../../scss/variables';
@import '../../../scss/utils';

// @file
// About

$spacing: $font-size-h1+$line-height-normal;
$spacing-mobile: $font-size-h2+$line-height-normal;

.p-about__left {
  display: inline-block;
  margin: $spacing-6 0 0 0;

  @include bp-desktop {
    margin: 0 $spacing-6 0 0;
  }

  @include bp-desktop-lg {
    margin: 0 $spacing-9 0 0;
    min-width: rem(400px);
  }
}

.p-about__inner {

  @include bp-desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-6;
  }

}

.p-about__text {}

.p-about__btn {
  &.c-button {
    text-decoration: none;

    &::after {
      transform: rotate(45deg);
    }
  }

}