// @file
// Utility classes

// TEXT
.u-txt-xs {
  font-size: $font-size-xs;
}

.u-txt-sm {
  font-size: $font-size-sm;
}

.u-txt-md {
  font-size: $font-size-md;
}

.u-txt-lg {
  font-size: $font-size-lg;
}

.u-txt-xl {
  font-size: $font-size-xl;
}

.u-txt-xxl {
  font-size: $font-size-xxl;
}

.u-txt-display {
  font-size: $font-size-display;
}

// text style
.u-txt-normal {
  font-style: normal;
}

.u-txt-italic {
  font-style: italic;
}

// text weight
.u-txt-bold {
  font-weight: 700;
}

.u-txt-regular {
  font-weight: 400;
}

.u-txt-medium {
  font-weight: 600;
}

// text color
.u-txt-white {
  color: $white;
}

.u-txt-black {
  color: $black;
}

.u-txt-grey {
  color: $grey;
}

.u-txt-grey-1 {
  color: $grey-1;
}

.u-txt-blue {
  color: $blue;
}

// text line height
.u-txt-line-height-tight {
  line-height: $line-height-tight;
}

.u-txt-line-height-normal {
  line-height: $line-height-normal;
}

.u-txt-line-height-loose {
  line-height: $line-height-loose;
}

// text styles
.u-txt-eyebrow {
  @include eyebrow();
}

// Alignment
.u-align-left {
  text-align: left;
}

.u-align-center {
  text-align: center;
}

.u-align-right {
  text-align: right;
}

// button clear
.u-button-clear {
  @include button-clear();
}

// list classes
.u-list-clean {
  @include list-clean();
}

.u-list-inline {
  @include list-inline();
}

// MARGINS
$units: 1,
2,
3,
4,
5,
6,
7,
8,
9;

@each $unit in $units {
  .u-m-#{$unit} {
    margin: spacing($unit);
  }

  .u-mt-#{$unit} {
    margin-top: spacing($unit);
  }

  .u-mb-#{$unit} {
    margin-bottom: spacing($unit);
  }

  .u-ml-#{$unit} {
    margin-left: spacing($unit);
  }

  .u-mr-#{$unit} {
    margin-right: spacing($unit);
  }
}

.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.u-m-0 {
  margin: 0 !important;
}

.u-ml-0 {
  margin-left: 0;
}

.u-mr-0 {
  margin-right: 0;
}

.u-mt-0 {
  margin-top: 0 !important;
}

.u-mb-0 {
  margin-bottom: 0;
}

// padding
@each $unit in $units {
  .u-p-#{$unit} {
    padding: spacing($unit);
  }

  .u-pt-#{$unit} {
    padding-top: spacing($unit);
  }

  .u-pb-#{$unit} {
    padding-bottom: spacing($unit);
  }

  .u-pl-#{$unit} {
    padding-left: spacing($unit);
  }

  .u-pr-#{$unit} {
    padding-right: spacing($unit);
  }
}

.u-pl-0 {
  padding-left: 0;
}

.u-pr-0 {
  padding-right: 0;
}

.u-pt-0 {
  padding-top: 0;
}

.u-pb-0 {
  padding-bottom: 0;
}

.u-hidden-mobile {
  @include bp-max-tablet {
    display: none !important;
  }
}

.u-hidden-desktop {
  @include bp-tablet {
    display: none !important;
  }
}

.u-hidden-desktop-down {
  @include bp-max-desktop-lg {
    display: none !important;
  }
}

.u-hidden-desktop-up {
  @include bp-desktop-lg {
    display: none !important;
  }
}

// button
.u-button {
  @include button-clear();

  background-color: $blue;
  color: $white;
  display: inline-block;
  font-weight: 600;
  line-height: $line-height-loose;
  width: rem(300px);
  position: relative;
  padding: $spacing-2;
  text-align: left;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.5, 0.25, 0, 1);
  z-index: 1;

  &:hover {
    background-color: $black;
    color: $white;
  }

  &:disabled {
    opacity: 0.15;
    pointer-events: none;
    background-color: $grey !important;
  }

  @include bp-tablet {
    padding-left: $spacing-3;
    padding-right: $spacing-3;
  }

  &+.u-button {
    margin-left: $spacing-2;
  }
}

.u-button--text {
  background-color: transparent;
  color: $black;
  font-size: $font-size-sm;
  font-weight: 600;
  letter-spacing: 5px;
  padding: 0 $spacing-3 0 0;
  position: relative;
  text-transform: uppercase;
  width: auto;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    transition: all 0.2s ease-in;
  }

  &::before {
    display: block;
    background-color: $grey;
    bottom: 0;
    height: 1px;
    opacity: 0;
    left: 0;
    width: calc(100% - #{$spacing-3});
  }

  &::after {
    @include svg-background(icon-arrow-right);

    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 16px;
    height: 15px;
    right: 0;
    top: calc((100% - 16px) / 2);
    transform: rotate(-45deg);
    width: 20px;
  }

  &:hover {
    background-color: transparent;
    color: $black;

    &::before {
      opacity: 1;
    }

    &::after {
      transform: translate(50%);
    }
  }
}

.u-button--text-small {
  background-color: transparent;
  font-size: $font-size-sm;
  font-weight: 400;
  padding: 0 $spacing-6 0 0;
  width: auto;

  &:hover {
    background-color: transparent;
  }
}